html {
    box-sizing: border-box;
    height: 100%;
    font-family: "Gill Sans", sans-serif;
}

*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

h1 {
    text-align: center;
}


/* actual stuff */
:root{

    --bg-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
    --btns-color: #3b3b3b;
    --calc-color: #212121;
    --visor-bg-color: #1f111f;
    --visor-color: #e3dee3;
    --btns-hover-color: #2d292e;
    --btns-glow: radial-gradient(farthest-side at 50% 45%,rgba(238, 130, 238, 0.05),#3b3b3b);
    --btns-text-color: white;
   

    /* light mode */
    .light-theme{
        --bg-color: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(24,24,24,1) 100%);
        --btns-color: #f2f2f2;
        --calc-color: #dbdbdb;
        --visor-bg-color: #f2f2f2;
        --visor-color: black;
        --btns-hover-color: #e4e4e4;
        --btns-glow: none;
        --btns-text-color: black;
        --titulo-color: white;
    }
   
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}
#icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.titulocalc{
    color: var(--titulo-color);
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container {
    width: 100%;
    max-width: 424px;
    background-color: var(--calc-color);
    padding: 30px;
    border-radius: 10px;
    height: 650px;
    box-shadow: 0px 0px 25px black;
    align-items: center;
}

.visor {
    display: block;
    overflow: hidden;
    width: 90%;
    max-width: 90%;
    color: var(--visor-color);
    background-color: var(--visor-bg-color);
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: right;
}

.botoes {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    background-color: var(--calc-color);
}

.botoes * {
    border-radius: 10px;
}

.botoes-row *, .botoes-column * {
    margin: 3px;
    background-color: var(--btns-color);
    border: none;
    color: var(--btns-text-color);
}

.botoes-operacao{
    background-image: var(--btns-glow);
    color: #EE82EE;
}

.botoes-column button:hover, .botoes-row button:hover, .botoes-operacao:hover{
    background: var(--btns-hover-color);
}

.botoes-row {
    display: flex;
    flex-direction: row;
}

.botoes-column {
    height: fit-content;
    display: flex;
    flex-direction: column;
}


.normal {
    font-size: 30px;
    width: 100px;
    height: 100px;
}

.column-double {
    height: 206px;
}

.row-double {
    width: 206px;
}
